.cc {
    height: 400px;
    border: none;
}
@media screen and (max-width: 480px) {
    .chart {
         width: 90%;
    }
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(224, 241, 252);
 }
 .th .thead {
     display:flex;
     pad:0;
 }
 

 @media (min-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .chart {
        width: 40%;
    }
    .tw {
        width:25%
    }

  }
  @media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .ms-auto {
        margin-left:0;
    }

  }

 


 .tr .table{
    border:0px; 
 }
